* {
    box-sizing: border-box;
    //background-color: rgba(0,0,0,0.01);
}
html, body {
    
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
}
nav > * {
    vertical-align: center;
    display: inline-flex;
}
header, article, footer {
    padding: 1em;
    background-color: rgba(32,32,64,0.1);
}
footer {

}
article {
    border: 0.1em solid rgba(0,0,0,0.1);
    border-top: 0;
    border-bottom: 0;
    padding: 1em;
    box-shadow: black 1em 0em 1em -1em inset, black -1em 0em 1em -1em inset;
    flex-grow: 1;
    width: 30em;
    padding: auto;
    margin: auto;
}
section {
    width: fit-content;
    margin: auto;
    padding: 1em;
    border-radius: 1em;
    background-color: rgb(148, 196, 230);
}
h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}
article > * {
    box-shadow: black 0.25em 0.25em 0.4em;
}
.spacer {
    flex-grow: 1;
}

.wrong{
	color:red;
}

.right{
	color:green;
}

article#login {
    
}

article#login > section {
    width: fit-content;
    margin: auto;
    padding: 1em;
    border-radius: 1em;
    justify-content: right;
    text-align: right;
}

article#game > section {
    
}